@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 991px) {


}

@media screen and (max-width: 767px) {

	.navbar.navbar-light {
		padding-top: 6px;
		position: fixed;
		height: 65px;
		width: 100%;
		margin: 0 auto;
		background-color: $gray-3;
		z-index: 5;
		opacity: .8;
	}

	.nav-item {
		margin-right: 0;
	}
}

@media screen and (max-width: 576px) {

	.navbar.navbar-light {
		min-width: 93%;
		margin: 0 auto;
	}
}