$font-family: 'PT Sans', sans-serif;
$font-weight: 400;
$font-size: 16px;

$light: #f9f4f4;
$white: #fff;
$gray-3: #494747;
$gray-2: #555555;
$gray-1: #898989;

$fs-14: 14px;
$fs-16: 16px;
$fs-20: 20px;
$fs-22: 22px;
$fs-30: 30px;
$fs-32: 32px;
$fs-42: 42px;